<div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
  <% posts.each do |post| %>
    <!--投稿ステータスによって表示の変更・投稿者には表示-->
    <% if post.is_public? || post.user == current_user || admin_signed_in? %>
      <div class="d-flex flex-column card border-dark my-3" style="min-height:350px">
        <!--postヘッダー部分-->
        <div class="p-2 m-0 row border-dark border-bottom">
          <div class="col" style="object-fit: contain;">
            <% if admin_signed_in? %>
              <%= link_to admin_user_path(post.user_id) do %>
                <%= image_tag post.user.get_user_image, size: '50x50' %>
                <span class="ml-2"><%= post.user.name %></span>
              <% end %>
            <% else %>
              <%= link_to user_path(post.user_id) do %>
                <%= image_tag post.user.get_user_image, size: '50x50' %>
                <span class="ml-2"><%= post.user.name %></span>
              <% end %>
            <% end %>
          </div>
          <!--投稿ステータスによって変更-->
          <% if post.user == current_user || admin_signed_in? %>
            <% if post.is_public? %>
              <div class="text-right align-text-center m-2">
                <span class="p-2 rounded-lg bg-success text-light">表示中</span>
              </div>
            <% else %>
              <div class="text-right align-text-center m-2">
                <span class="p-2 rounded-lg bg-danger text-light">非表示中</span>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="py-2 px-4 m-0 row card-header justify-content-between border-bottom">
          <!--タイトル-->
          <% if admin_signed_in? %>
            <%= link_to admin_post_path(post.id) do %>
              <h4><%= post.title %></h4>
            <% end %>
          <% else %>
            <%= link_to post_path(post.id) do %>
              <h4><%= post.title %></h4>
            <% end %>
          <% end %>
          <!--いいねボタン-->
          <% if admin_signed_in? %>
            <h5>いいね(<%= post.favorites.count %>)</h5>
          <% else %>
            <% if post.favorited_by?(current_user) %>
              <%= link_to post_favorite_path(post), method: :delete do %>
                <h5>いいね済み(<%= post.favorites.count %>)</h5>
              <% end %>
            <% else %>
              <%= link_to post_favorite_path(post), method: :post do %>
                <h5>いいね(<%= post.favorites.count %>)</h5>
              <% end %>
            <% end %>
          <% end %>
          <!--カテゴリ-->
          カテゴリ：<%= post.category %>
        </div>
        <!--画像の有無で画像部分を非表示・内容もリンクのためまとめて記述-->
        <% if admin_signed_in? %>
          <% if post.post_image.attached? %>
            <%= link_to admin_post_path(post.id) do %>
              <div class="p-2 m-0 row flex-grow-1 mb-auto">
                <div class="col-5 spacing-0">
                  <%= image_tag post.post_image, style:"max-height:200px; width:100%; object-fit: contain;" %>
                </div>
                <div class="col-7 mb-5 text-dark">
                  <div class="row spacing-0">
                    <h5 class="rounded-lg p-1" style="background-color:#eee;">内容</h5>
                  </div>
                  <div class="rounded-lg p-1 h-100" style="background-color:#eee;">
                    <%= simple_format(post.body) %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= link_to admin_post_path(post.id) do %>
              <div class="spacing-0 row h-100">
                  <!--画像非表示-->
                <div class="col mb-5 text-dark">
                  <div class="row pt-2 m-0">
                    <h5 class="rounded-lg p-1" style="background-color:#eee;">内容</h5>
                  </div>
                  <div class="rounded-lg p-1 pb-auto" style="min-height:110px; background-color:#eee; word-wrap: break-word; width:100%;">
                    <%= simple_format(post.body) %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <% if post.post_image.attached? %>
            <%= link_to post_path(post.id) do %>
              <div class="p-2 m-0 row flex-grow-1 mb-auto">
                <div class="col-5 spacing-0">
                  <%= image_tag post.post_image, style:"max-height:200px; width:100%; object-fit: contain;" %>
                </div>
                <div class="col-7 mb-5 text-dark">
                  <div class="row spacing-0">
                    <h5 class="rounded-lg p-1" style="background-color:#eee;">内容</h5>
                  </div>
                  <div class="rounded-lg p-1 h-100" style="background-color:#eee;">
                    <%= simple_format(post.body) %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="h-100">
              <%= link_to post_path(post.id) do %>
                <div class="spacing-0 row h-100">
                    <!--画像非表示-->
                  <div class="col mb-5 text-dark">
                    <div class="row pt-2 m-0">
                      <h5 class="rounded-lg p-1" style="background-color:#eee;">内容</h5>
                    </div>
                    <div class="rounded-lg p-1 pb-auto" style="min-height:110px; background-color:#eee; word-wrap: break-word; width:100%;">
                      <%= simple_format(post.body) %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <div class="m-0 mt-auto d-flex justify-content-between px-3">
          <p>コメント数：<%= post.comments.count %></p>
          <p>投稿日：<%= post.created_at.strftime('%Y年%m月%d日') %></p>
        </div>

      </div>
    <% else %>
      <!--非表示-->
    <% end %>
  <% end %>
  <%= paginate posts %>
</div>