<div class="text-center text-danger"><%= flash[:error] %></div>
<h1>投稿内容編集</h1>

<%= form_with model: @post, id: 'post_form', local: true do |f| %>
  <%= render "public/shared/error_messages", resource: @post %>

  <div class="d-flex flex-column mt-1 m-0 border border-dark">
    <!--投稿ステータスによって表示の変更・投稿者には表示-->
    <div class="card col spacing-0">

      <div class="p-2 m-0 row card-header border-dark">
        <div class="col" style="object-fit: contain;">
          <div class="field">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, autofocus: true %>
          </div>
        </div>
      </div>

      <div class="row spacing-0">
        <div class="col-lg spacing-0 h-100">

          <div class="row spacing-0 justify-content-end">
            <div class="px-3 py-1" style="background-color:#ffe2c6;">
              カテゴリ：<%= @post.category %>
            </div>
          </div>

          <div class="image_field m-2 border-bottom">
            <div class="d-flex h-100">
              <% if @post.post_image.attached? %>
                 <!--画像プレビュー-->
                <div class="col-6 d-flex flex-column border-right">
                  <h4>変更後の画像</h4>
                  <div class="h-100" style="height:300px; width:auto;">
                    <div id="previews"></div>
                  </div>
                </div>


                <div class="col-6">
                  <h4>変更前の画像</h4>
                  <div class="row spacing-0" style="height:300px; width:auto;">
                    <%= image_tag @post.get_post_image, class:"preview-image" %>
                  </div>
                </div>
              <% else %>
                <div class="col-md-6">
                  <div class="row spacing-0" style="height:200px; width:auto;">
                    <div id="previews"></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="p-2 pt-3 m-0">
            <%= f.label :post_image, "画像" %>
            <%= f.file_field :post_image, id:"post_image", accept:'image/*'%>
          </div>
          <!--内容-->
          <div class="p-2 pt-3 m-0">
            <div class="field">
              <div>
                <%= f.label :body, "内容" %>
              </div>
              <div>
                <%= f.text_area :body, style:"width:100%;" %>
              </div>
            </div>
          </div>

          <!--詳細-->
          <% unless @post.category == "日常" %>
            <div class="p-2 m-0">
              <div id="post-details">
                <%= f.fields_for :post_details do |detail_form| %>
                  <%= render 'post_detail_fields', f: detail_form %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association '手順を追加', f, :post_details, class: 'btn btn-secondary' %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="mt-auto text-right mx-3">
            <p>投稿日：<%= @post.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-2 m-0 w-100 justify-content-between">
      <%= f.submit "投稿を更新",class:"btn btn-lg btn-success" %>
      <%= link_to "投稿を削除する", post_path(@post), method: :delete, class:"btn btn-lg btn-danger" %>
  </div>
<% end %>
