<div class="text-center text-danger"><%= flash[:error] %></div>
<div>新規投稿ページ</div>

<%= form_with model: @post, id: 'post_form', local: true do |f| %>
  <%= render "public/shared/error_messages", resource: @post %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="image_field">
    <div id="previews"></div>
    <%= f.label :post_image, "画像" %>
    <%= f.file_field :post_image, accept:'post_image/*' %>
  </div>

  <div class="field">
    <%= f.label :body, "内容" %><br />
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :category, "カテゴリ" %><br />
    <%= f.select :category, Post.categories.keys.map { |c| [c, c] }, {}, { id: 'post_category' } %>
  </div>

  <div id="post-details">
    <%= f.fields_for :post_details do |detail_form| %>
      <%= render 'post_detail_fields', f: detail_form %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '手順を追加', f, :post_details, class: 'btn btn-secondary' %>
    </div>
  </div>
  <%= f.submit "投稿内容を確定" %>
<% end %>