<div class="text-center text-danger"><%= flash[:error] %></div>
<h1>新規投稿</h1>

<%= form_with model: @post, id: 'post_form', local: true do |f| %>
  <%= render "public/shared/error_messages", resource: @post %>
  
  <div class="d-flex">
    <!--投稿ステータスによって表示の変更・投稿者には表示-->
    <div class="card col border-dark p-0 m-0" style="min-height:300px">
  
      <div class="p-2 m-0 row card-header border-dark">
        <div class="col" style:"object-fit: contain;">
          <div class="field">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, autofocus: true %>
          </div>
        </div>
      </div>
  
      <div class="row p-0 m-0">
        <div class="col-lg h-100">
          <div class="py-2 p-2 m-0 row justify-content-start">
            <div class="field">
              <%= f.label :category, "カテゴリ" %>：
              <%= f.select :category, Post.categories.keys.map { |c| [c, c] }, {}, { id: 'post_category' } %>
            </div>
          </div>
  
            <div class="border-bottom">
              <div class="image_field p-2">
                <div id="previews"></div>
                <%= f.label :post_image, "画像" %>
                <%= f.file_field :post_image, accept:'image/*'%>
              </div>
            </div>
          <!--内容-->
            <div class="p-2 pt-3 m-0">
              <div class="field">
                <%= f.label :body, "内容" %><br />
                <%= f.text_area :body, style:"width:100%;" %>
              </div>
            </div>
  
  
          <!--詳細-->
          <% unless @post_category == "日常" %>
            <div class="p-2 m-0">
              <div id="post-details">
                <%= f.fields_for :post_details do |detail_form| %>
                  <%= render 'post_detail_fields', f: detail_form %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association '手順を追加', f, :post_details, class: 'btn btn-secondary' %>
                </div>
              </div>
            </div>
          <% end %>
  
          <div class="mt-auto text-right mx-3">
            <p>投稿日：</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="btn btn-lg">
    <%= f.submit "投稿内容を確定" %>
  </div>
<% end %>