<div class="text-center text-success"><%= flash[:success] %></div>
<div class="text-center text-danger"><%= flash[:error] %></div>
<h1>投稿詳細</h1>

<div class="row p-0 m-0">
  <div class="col-5 item-left m-2">
    <%= link_to user_path(@post.user_id) do %>
      <%= image_tag @post.user.get_user_image, size: '50x50' %>
      <span class="ml-2"><%= @post.user.name %></span>
    <% end %>
  </div>
  <% if @post.user_id == current_user.id %>
    <div class="col-6 text-right m-2">
      <%= link_to "投稿を編集する", edit_post_path(@post), class:"btn btn-success" %>
      <%= link_to "投稿を削除する", post_path(@post), class:"btn btn-danger", method: :delete %>
    </div>
  <% end %>
</div>

<div class="d-flex">
  <!--投稿ステータスによって表示の変更・投稿者には表示-->
  <% if @post.is_public? || @post.user == current_user %>
    <div class="card col-md-8 border-dark p-0 m-0" style="min-height:300px">

      <div class="p-2 m-0 row card-header border-dark">
        <div class="col" style:"object-fit: contain;">
          <h4><%= @post.title %></h4>
        </div>
        <% if @post.user == current_user %>
          <% if @post.is_public? %>
            <div class="text-right align-content-center m-2">
              <span class="p-2 rounded-lg bg-success text-light">公開中</span>
            </div>
          <% else %>
            <div class="text-right align-content-center m-2">
              <span class="p-2 rounded-lg bg-danger text-light">非公開</span>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="row p-0 m-0">
        <div class="col-lg h-100">
          <div class="py-2 px-4 m-0 row justify-content-start">
            カテゴリ：<%= @post.category %>
          </div>

          <% if @post.post_image.attached? %>
            <div class="border-bottom">
              <%= image_tag @post.post_image, style:"max-height:250px; width:100%; object-fit: contain;" %>
            </div>
          <% else %>
            <!--非表示-->
          <% end %>
          <!--内容-->
            <div class="p-2 pt-3 m-0">
              <h5><%= simple_format(@post.body) %></h5>
            </div>


          <!--詳細-->
          <% unless @post_category == "日常" %>
            <% @post_details.each do |post_detail| %>
              <div class="p-2 m-0">
                <strong><%= post_detail.sequence_number %>.</strong>
                <div class="pl-4 border"><%= simple_format(post_detail.body) %></div>
              </div>
            <% end %>
          <% end %>

          <div class="mt-auto text-right mx-3">
            <p>投稿日：<%= @post.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
        </div>

      </div>
    </div>



    <div class="card col-md-4 border-dark p-0 m-0" style="min-height:300px">
      <!--コメント欄-->
      <div class="p-2 px-3 m-0 row card-header border-dark">
        <h4>コメント欄</h4>
      </div>
      <div class="p-2 border-bottom">
        <h5>新しいコメントの投稿</h5>
        <div class="form-model">
          <%= form_with model: [@post, @comment], local: false do |f| %>
            <%= f.text_area :body,class: "comment-text w-100",style:"min-height:80px" %>
            <div>
              <%= f.submit "送信" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="px-2">
        <h5>コメント</h5>
        <div class="comment-list w-100">
          <%= render "public/comments/comment_list", post: @post %>
        </div>
      </div>
    </div>
  <% else %>
    <!--非表示-->
    この投稿は非表示になっています
  <% end %>
</div>
