<div>投稿詳細ページ</div>

<% if @post.user_id == current_user.id %>
  <div><%= link_to "投稿を編集する", edit_post_path(@post) %></div>
<% end %>

<% if @post.user_id == current_user.id %>
  <div><%= link_to "投稿を削除する", post_path(@post), method: :delete %></div>
<% end %>

<div>表示ステータス:
<% if @post.is_public == true %>
  表示中
<% else %>
  非表示中
<% end %>
</div>
<div><%= image_tag @post.user.get_user_image, size: '50x50' %><%= @post.user.name %></div>


<div>|<%= @post.category %>|</div>
<div>^<%= @post.title %>^</div>
<%= image_tag @post.get_post_image, size: '100x100' %>
<div><%= @post.body %></div>

<!--新規コメント-->
コメント
<table class="comment-list">
  <%= render "public/comments/comment_list", post: @post %>
</table>

新しいコメントの投稿
<div class="form-model">
  <%= form_with model: [@post, @comment], local: false do |f| %>
    <%= f.text_area :body,class: "comment-text" %>
    <%= f.submit "送信" %>
  <% end %>
</div>