<h2>管理者ログイン</h2>

<%= form_with scope: :admin, url: admin_session_path, local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :login, "メールアドレス"%><br />
    <%= f.email_field :login, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "次回の入力を省略" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>