<% posts.each do |post| %>
  <div class="flex-column border">
    <%= link_to admin_user_path(post.user_id) do %>
      <div>
        <%= image_tag post.user.get_user_image, size: '50x50' %>
        <%= post.user.name %>
      </div>
    <% end %>
    <%= link_to admin_post_path(post.id) do %>
      <div>
        <%= post.title %>
      </div>
      <div>
        <%= image_tag post.get_post_image, size: '90x90' %>
        <%= post.body %>
      </div>
    <% end %>
  </div>
<% end %>