<% posts.each do |post| %>
  <% if post.is_public? %>
  <!--<div class="flex-column border">-->
  <div class="card">
  <% else %>
  <!--<div class="flex-column border">-->
  <div class="card ">
  <% end %>
      <div class="card-header p-0">
      <div>
    <%= link_to admin_user_path(post.user_id) do %>
        <%= image_tag post.user.get_user_image, size: '50x50' %>
        <%= post.user.name %>
    <% end %>
    </div>
    <div class="card-header ">
    <%= link_to admin_post_path(post.id) do %>
        <%= post.title %>
    <% end %>
      </div>
      </div>
      <div>
        <%= image_tag post.get_post_image, size: '90x90' %>
        <%= post.body %>
      </div>
  </div>
<% end %>