<div class="text-center text-success"><%= flash[:success] %></div>
<h2 class="pb-3">新規ユーザー登録</h2>
<%= form_with model: @user, id: 'user_form', url: user_registration_path  do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="d-flex flex-column mt-1 m-0 border border-dark  w-100" style="min-height:230px;">

    <div class="row spacing-0">
      <!--上1/2項目-->
      <div class="col-12 col-md-6 p-3">
        <div class="border border-dark" style="height:300px; width:100%;">
          <div id="previews"></div>
        </div>
      </div>
      <!--上2/2項目-->
      <div class="col-12 col-md-6 p-3">
        <div>
          <h5>ユーザーネーム(後から変更可能)</h5>
          <h4>
            <%= f.text_field :name, autocomplete: "name", class:"pb-1 text-center rounded-lg w-100" %>
          </h4>
        </div>
        <div>
          <h5>自己紹介(空欄でもOK,後から変更可能)</h5>
        </div>
        <div>
          <p><%= f.text_area :introduction, autocomplete: "introduction", class:"rounded-lg p-4 pb-auto", style:"min-height:120px; word-wrap: break-word; width:100%;" %></p>
        </div>
      </div>
    </div>

    <div class="row spacing-0 border-top">
      <div class="d-flex flex-column col-12 col-lg-6 p-1">
        <div class="p-2 m-0">
          <h5><%= f.label :user_image, "ユーザー画像" %></h5>
          <div><%= f.file_field :user_image,  accept:'image/*' %></div>
        </div>
        <div class="p-2 m-0">
          <h5><%= f.label :email, "メールアドレス" %></h5>
          <div><%= f.email_field :email, autocomplete: "email", class:"w-100" %></div>
        </div>
      </div>
      <div class="d-flex flex-column col-12 col-lg-6 p-1">
        <div class="p-2 m-0">
          <h5><%= f.label :password,"パスワード" %>(英数字<%= @minimum_password_length %> 字以上)</h5>
          <div><%= f.password_field :password, autocomplete: "new-password", class:"w-100" %></div>
        </div>
        <div class="p-2 m-0">
          <h5><%= f.label :password_confirmation,"パスワード(再確認)" %></h5>
          <div><%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-100" %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-start">
    <div class="p-3">
      <%= f.submit "登録してログイン" ,class:"btn btn-lg btn-success" %>
    </div>
  </div>
<% end %>



<div class="col-lg-9 offset-lg-3 py-2">
    <h5 class="px-3" style="background-color:#eee; width:fit-content;">登録済みの方</h5>
　</div>
<div class="col-lg-6 offset-lg-4 pl-3">
    <%= link_to "こちら", new_user_session_path(resource_name) %>　からログインしてください。
</div>
