admin users index

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_user_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td>フォロー:<%= user.followers.count %>人</td>
        <td>フォロワー:<%= user.followeds.count %>人</td>
        <td>投稿数:<%= user.posts.count %></td>
        <td></td>
        <td><%= link_to 'Show', admin_user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
