<h1>[管理]<%= @user.name %>のページ</h1>

<div class ="d-flex p-3 mt-4 m-0 border border-dark" style="min-height:250px; max-wigth:auto;">

  <div class="col-3">
    <%= image_tag @user.get_user_image, style:"max-height:220px; wigth:auto;" %>
  </div>

  <div class="col-3">
    <div>
      <h5>ユーザーネーム</h5>
      <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.name %></h4>
    </div>
    <div>
      <h5>自己紹介</h5>
    </div>
    <div class="rounded-lg p-1 px-2" style="min-height:105px; background-color:#eee; word-wrap: break-word; width:100%;">
      <p><%= simple_format(@user.introduction) %></p>
    </div>
  </div>

  <div class="col-3">
    <div>
      <h5>投稿数</h5>
      <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.posts.count %> 件</h4>
    </div>
    <div>
      <h5>フォロー</h5>
      <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.followers.count %> 人</h4>
    </div>
    <div>
      <h5>フォロワー</h5>
      <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.followeds.count %> 人</h4>
    </div>
  </div>

  <div class="col-3">
    <div class="py-2 d-flex align-items-center">
      <h5>ステータス ：</h5>
      <% if @user.is_active == true %>
        <span class="p-2 rounded-lg bg-primary text-light">有効</span>
      <% else %>
        <span class="p-2 rounded-lg bg-secondary text-light">退会済み</span>
      <% end %>
    </div>
    <div class="py-2 px-0">
      <h5>退会状況変更ボタン：</h5>
      <div class="text-right">
        <% if @user.is_active == true %>
          <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local: true do |f| %>
              <%= f.hidden_field :is_active, value: false %>
              <button type="submit" class="btn btn-secondary">退会済に更新</button>
          <% end %>
        <% else %>
          <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local: true do |f| %>
              <%= f.hidden_field :is_active, value: true %>
              <button type="submit" class="btn btn-primary">有効に更新</button>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="py-2 px-0 border border-danger text-center">
      <h5>ユーザーの削除</h5>
      <div><%= link_to "削除", admin_user_path(@user), method: :delete, class:"btn bg-danger text-light" %></div>
    </div>
  </div>

</div>

<h2 class="py-2 text-center"><%= @user.name %>の投稿一覧</h2>
<!--投稿一覧-->
<div>
  <%= render "public/posts/list", posts: @posts %>
</div>

