users edit

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: @user %>
  
  <div class="image_field">
    <%= f.label :image, "現在の画像" %><br />
    <%= image_tag (@user.user_image.attached? ? @user.user_image : 'no_image.jpg') %><br />
    <%= f.file_field :user_image,  accept:'image/*' %>
  </div>

  <div class="field">
     <%= f.label :"ニックネーム" %><br />
     <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
     <%= f.label :"自己紹介(空欄でもOK)" %><br />
     <%= f.text_area :introduction, autocomplete: "introduction" %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "編集完了" %>
  </div>
<% end %>