<div class="text-center text-success"><%= flash[:success] %></div>
<div class="text-center text-danger"><%= flash[:error] %></div>
<% if @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1><%= @user.name %>さんのページ</h1>
<% end %>

<div class ="d-flex p-3 mt-4 m-0 border border-dark" style="min-height:250px; max-wigth:auto;">
  <!--1/4項目-->
  <div class="col-3">
    <div style="height:220px; width:auto;">
      <%= image_tag @user.get_user_image, class:"responsive-image" %>
    </div>
  </div>
  <!--2/4項目-->
  <div class="col-3">
    <div>
      <h5>ユーザーネーム</h5>
      <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.name %></h4>
    </div>
    <div>
      <h5>自己紹介</h5>
    </div>
    <div class="rounded-lg p-1 pb-auto" style="min-height:105px; background-color:#eee; word-wrap: break-word; width:100%;">
      <p><%= simple_format(@user.introduction) %></p>
    </div>
  </div>
  <!--3/4項目-->
  <div class="col-3">
    <div>
      <h5>投稿数</h5>
      <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.posts.count %> 件</h4>
    </div>
    <div>
      <h5>フォロー</h5>
      <% unless @user.followers.count == 0 %>
        <%= link_to user_follows_path(@user) do %><h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.followers.count %> 人</h4><% end %>
      <% else %>
        <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.followers.count %> 人</h4>
      <% end %>
    </div>
    <div>
      <h5>フォロワー</h5>
      <% unless @user.followeds.count == 0 %>
        <%= link_to user_followers_path(@user) do %><h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.followeds.count %> 人</h4><% end %>
      <% else %>
        <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.followeds.count %> 人</h4>
      <% end %>

    </div>
  </div>
  <!--4/4項目-->
  <div class="col-3">
    <div>
      <!--ログインユーザーなら編集それ以外ならフォローボタン-->
      <% if @user == current_user %>
        <h5 class="text-center">ユーザー編集ボタン</h5>
        <div class="pb-1 text-center"><%= link_to "編集", edit_user_path(current_user.id),class:"btn btn-success" %></div>
      <% else %>
        <!--フォロー機能-->
        <h5 class="text-center">フォローボタン</h5>
        <div class="pb-1 text-center">
          <% if @user == current_user %>
            <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
            <% else if current_user.following?(@user) %>
              <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-info", data: {confirm: "フォローを取り消しますか？"} %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div>
      <h5>[いいね]した数</h5>
      <% unless @user.favorites.count == 0 %>
        <%= link_to user_favorites_path(@user.id) do %><h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.favorites.count %> 件</h4><% end %>
      <% else %>
        <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @user.favorites.count %> 件</h4>
      <% end %>
    </div>
    <div>
      <h5>[いいね]された数</h5>
      <h4 class="pb-1 text-center rounded-lg" style="background-color:#eee;"><%= @favorites_count %> 件</h4>
    </div>
  </div>
</div>

<!--投稿一覧-->
<h2 class="py-2 text-center"><%= @user.name %>の投稿一覧</h2>

<%= render "public/posts/list", posts: @posts %>

