<header class="vw-100 border-bottom border-dark" style="min-height:100px">

  <nav class="navbar navbar-expand-xl navbar-light justify-content-between">
    <a class="navbar-brand" href="/"><%= image_tag('header-logo.jpg', style: "max-height: 80px; width: auto;") %></a>
    
    
    <div class="mt-2">
      <% if admin_signed_in? %>
        管理者がログイン中
      <% elsif current_user %>
        <%= current_user.name %> さんがログイン中
      <% end %>
    </div>
    

    <div class="items-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <div class="p-2"><%= render 'searches/search' %></div>
          <% end %>
          <!--adminヘッダー-->
          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-outline-secondary mr-3" %></li>
            <li class="nav-item"><%= link_to "投稿一覧", admin_posts_path, class: "btn btn-outline-secondary mr-3" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary mr-3" %></li>
          <!--customersヘッダー-->
          <% elsif user_signed_in? %>
            <div>
              <li class="nav-item"><%= link_to '新しい投稿', new_post_path, class: "btn btn-outline-secondary mr-3" %></li>
              <li class="nav-item"><%= link_to "マイページ" , users_my_page_path, class: "btn btn-outline-secondary mr-3" %></li>
            </div>
            <div>
              <li class="nav-item"><%= link_to '投稿一覧', posts_path, class: "btn btn-outline-secondary mr-3" %></li>
              <li class="nav-item"><%= link_to 'ユーザー一覧', users_path, class: "btn btn-outline-secondary mr-3" %></li>
            </div>
            <div>
              <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary mr-3" %></li>
              <li class="nav-item"><%= link_to 'かんたんSNSとは', about_path, class: "btn btn-outline-secondary mr-3" %></li>
            </div>
          <!--ログイン前ヘッダー-->
          <% else %>
            <li class="nav-item"><%= link_to 'About', about_path, class: "btn btn-outline-secondary mr-3" %></li>
            <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-secondary mr-3" %></li>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-secondary mr-3" %></li>
          <% end %>

        </ul>
      </div>

    </div>
  </nav>

</header>