<!DOCTYPE html>
<html>
  <head>
    <title>EasySns</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--fontawesomeを使用可能に-->
    <script src="https://kit.fontawesome.com/196b212b5d.js" crossorigin="anonymous"></script>
    <!--グラフを表示可能に-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--topページでヘッダーを非表示-->
    <% if current_page?(root_path) %>
    <!--aboutページで非ログイン時ヘッダーを非表示-->
    <% elsif current_page?(about_path) %>
      <% if user_signed_in? %>
        <%= render 'layouts/header' %>
      <% end %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>

    <main class="min-vh-100" style="background-color:#fffdf7;">
      <div class="container">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
