<!DOCTYPE html>
<html>
  <head>
    <title>EasySns</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--fontawesomeを使用可能に-->
    <script src="https://kit.fontawesome.com/196b212b5d.js" crossorigin="anonymous"></script>
    <!--グラフを表示可能に-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main class="d-flex flex-column min-vh-100">
      <%= render 'layouts/header' %>
      <div class="container flex-grow-1 my-4">
        <%= yield %>
        
        <script>
          $(document).on('turbolinks:load', function() {
            $('.jscroll').jscroll({ // 追加したdivのclass名と合わせる
              contentSelector: '.jscroll',
              nextSelector: '.next a',  // 次ページリンクのセレクタ
              loadingHtml: '読み込み中',
            });
          });
          $('.jscroll').jscroll(jscrollOption);
        </script>
  
      </div>
    </main>

  </body>
</html>
